body, html {
    background-color:#707767;
    font-size: 20px;
    font-family: 'Marcellus', serif;
    color: #ECEBE6;
    text-align: start;
    height: 100%;
    padding: 0;
    margin: 0;
}

footer {
    font-size: 14px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Marcellus', serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image-v3.png");
    height: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ECEBE6;
  font-family: 'Marcellus', serif;
}

.top-nav {
    overflow: hidden;
    background-color: #182825;
    position: sticky;
    top: 0;
    z-index: 999;
}

.top-nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Marcellus', serif;
}

.top-nav a:hover {
    background-color: #D49A54;
    color: black;
}

.top-nav a.active {
    background-color: #3A5C4A;
    color: white;
}

.paragraph {
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
    font-family: 'Marcellus', serif;
    max-width: 900px;
    margin: auto;
    padding: 80px 30px;
}

.button {
  background-color: #D49A54;
  border: none;
  color: black;
  font-family: 'Marcellus', serif;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  cursor: pointer;
  border-radius: 16px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  display: block;
}

.button:hover {
    background-color: #146FA1;
    color: black;
}

.scroll-container {
  background-color: #182825;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.scroll-container img {
  padding: 10px;
  max-width: 50%;
  max-height: 50%;
  height: auto;
}

/* .parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image-v3.png");
    height: 85%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */