body, html {
    font-size: 20px;
}

.paragraph {
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
    font-family: var(--font-marcellus);
    max-width: 900px;
    margin: auto;
    padding: 80px 30px;
}

.welcome-heading {
    text-align: center;
    padding-top: 40px;
}